<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Vue devtool -->
        <script src="http://localhost:8098"></script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>3. Using Conditionals and Rendering Lists</title>

        <link rel="stylesheet" type="text/css" href=""></link>

        <!-- Vue.js 2 cdn (latest version)
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        -->

        <!-- Vue.js v2.6.11 development version -->
        <script src="scripts/vue.js"></script>   
    </head>

    <body>
        <div id="app">
            <p v-if="show">You can see me! <span>Hello!</span></p>
            <p v-else>Now you see me!</p>
            <template v-if="show">
                <h1>Heading</h1>
                <p>Inside a template</p>
            </template>
            <p v-if="show1">(other) You can see me! <span>Hello!</span></p>
            <p v-else>(other) Now you see me!</p>
            <p>Do you also see me?</p>
            <button @click="show = !show">Switch</button>
            <button @click="show1 = !show1">Switch other</button>
            <hr>

            <p v-if="type === 'A'" @click="type = 'B'">This is type A1</p>
            <p v-else-if="type === 'B'">This is type B1</p>
            <p v-else-if="type === 'C'">This is type C1</p>
            <p v-else>This is type D1</p>
            <p v-if="type === 'A'">This is type A2</p>
            <p v-else-if="type === 'B'">This is type B2</p>
            <p v-else-if="type === 'C'">This is type C2</p>
            <p v-else>This is type D2</p>
            <input type="text" v-model="type">
        </div>

        <!-- Custom script -->
        <script src="scripts/app.js"></script>
    </body>
</html>
